<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LibraryManagement</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>com.library.services.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userlogin</display-name>
    <servlet-name>userlogin</servlet-name>
    <servlet-class>com.library.services.userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlogin</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userreg</display-name>
    <servlet-name>userreg</servlet-name>
    <servlet-class>com.library.services.userreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userreg</servlet-name>
    <url-pattern>/userreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SForm</display-name>
    <servlet-name>SForm</servlet-name>
    <servlet-class>com.library.services.SForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SForm</servlet-name>
    <url-pattern>/SForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>libBook</display-name>
    <servlet-name>libBook</servlet-name>
    <servlet-class>com.library.services.libBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>libBook</servlet-name>
    <url-pattern>/libBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>libBook2</display-name>
    <servlet-name>libBook2</servlet-name>
    <servlet-class>com.library.services.libBook2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>libBook2</servlet-name>
    <url-pattern>/libBook2</url-pattern>
  </servlet-mapping>
</web-app>